body {
    background-color: #F5F5F5;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
#header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: inline;
    color: black;
    text-shadow: 1px 2px #fff;
    letter-spacing: 1.2px;
}
#logo_img{
    margin-left: 10px;
    height: 100px;
    position: relative;
}
.tabs {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #242424;
}
.tabs input {
    display: none;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
}
.tabs label {
    display: block;
    letter-spacing: 1.2px;
    margin: 12px 0 -1px 0;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: white;
    border: 1px solid white;
    background-color: #242424;
    border-radius: 5px;
}
.tabs label:before {
    font-weight: normal;
    margin-right: 10px;
}
.tabs label:hover {
    color: white;
    background-color: #383838;
    cursor: pointer;
}
.tabs input:checked + label {
    color: white;
    border: 1px solid white;
    background-color: black;
}
#header{
    padding-left: 0;
    padding-right: 0;
    height: 100px;
    border-bottom: 1px solid white;
    background: #024a54;
    background: -webkit-linear-gradient(#024a54, #5dd4e9);
    background: -o-linear-gradient(#024a54, #5dd4e9);
    background: -moz-linear-gradient(#024a54, #5dd4e9);
    background: linear-gradient(#024a54, #5dd4e9);
}
#user_img {
    margin-top: 7px;
}
#login_but_div img{
    width: 50px;
    height: 50px;
}
#login_but_div{
    text-align: center;
}
#log_out_img{
    width: 50px;
    height: 50px;
}
#log_out_div{
    float: right;
    text-align: center;
    z-index: 10;
    margin-top: -90px;
    margin-left: 90%;
    position: absolute;
    font-weight: bold;
}
#time{
    height: 40px;
    width: auto;
    margin-left: 45%;
    margin-top: -70px;
    padding-top: 5px;
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    z-index: 10;
}
#side_block {
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    height: 130%;
}
@media only screen and (max-width: 991px) {
    #side_block {
        max-height: 380px;
    }
}
#log_out_div:hover {
    cursor: pointer;
}
#digital_watch{
    color: black;
    font-size: 20px;
    font-weight: bold;
}