body {
    background-color: #F5F5F5;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}
#header h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    display: inline;
    color: black;
    text-shadow: 1px 2px #fff;
    letter-spacing: 1.2px;
}
#logo_img{
    margin-left: 10px;
    height: 100px;
    position: relative;
}
.tabs {
    float: left;
    width: 100%;
    padding: 0;
    margin: 0 auto;
    background-color: #242424;
}
.tabs input {
    display: none;
}
.container-fluid {
    padding-left: 0;
    padding-right: 0;
    height: 100vh;
}
.tabs label {
    display: block;
    letter-spacing: 1.2px;
    margin: 12px 0 -1px 0;
    padding: 15px 25px;
    font-weight: 600;
    text-align: center;
    color: white;
    border: 1px solid white;
    background-color: #242424;
    border-radius: 5px;
}
.tabs label:before {
    font-weight: normal;
    margin-right: 10px;
}
.tabs label:hover {
    color: white;
    background-color: #383838;
    cursor: pointer;
}
.tabs input:checked + label {
    color: white;
    border: 1px solid white;
    background-color: black;
}
#header{
    padding-left: 0;
    padding-right: 0;
    height: 100px;
    border-bottom: 1px solid white;
    background: #024a54;
    background: -webkit-linear-gradient(#024a54, #5dd4e9);
    background: -o-linear-gradient(#024a54, #5dd4e9);
    background: -moz-linear-gradient(#024a54, #5dd4e9);
    background: linear-gradient(#024a54, #5dd4e9);
}
#user_img {
    margin-top: 7px;
}
#login_but_div img{
    width: 50px;
    height: 50px;
}
#login_but_div{
    text-align: center;
}
#log_out_img{
    width: 50px;
    height: 50px;
}
#log_out_div{
    float: right;
    text-align: center;
    z-index: 10;
    margin-top: -90px;
    margin-left: 90%;
    position: absolute;
    font-weight: bold;
}
#time{
    height: 40px;
    width: auto;
    margin-left: 45%;
    margin-top: -70px;
    padding-top: 5px;
    position: absolute;
    border: 1px solid black;
    border-radius: 4px;
    background-color: white;
    z-index: 10;
}
#side_block {
    background-color: rgba(0, 0, 0, 0.84);
    color: white;
    height: 100%;
}
@media only screen and (max-width: 991px) {
    #side_block {
        max-height: 380px;
    }
}
#log_out_div:hover {
    cursor: pointer;
}
#digital_watch{
    color: black;
    font-size: 20px;
    font-weight: bold;
}









/*#service_visits {*/
    /*width: 400px;*/
/*}*/

/*#statistic_div {*/
    /*display: none;*/
/*}*/

/*.mater_photo_td {*/
    /*width: 50px;*/
    /*height: 50px;*/
    /*margin-left: auto;*/
    /*margin-right: auto;*/
/*}*/
/*thead {*/
    /*background-color: #5dd4e9;*/
/*}*/
/*.list_time_td {*/
    /*width: 30px;*/
/*}*/

/*#date_input {*/
    /*margin-bottom: 7px;*/
/*}*/
/*#log_out_div {*/
    /*!*margin-top: 7px;*!*/
/*}*/
/*#editing_service, #edit_client, #edit_worker, #edit_list {*/
    /*display: none;*/
/*}*/
/*#add_delete_master  {*/
    /*z-index: 1;*/
/*}*/
/*#master_serv_to_add {*/
    /*overflow-y: scroll;*/
    /*color: black;*/
    /*text-align: left;*/
    /*z-index: 1;*/
/*}*/
/*#master_serv_add {*/
    /*overflow-y: scroll;*/
    /*color: black;*/
    /*text-align: left;*/
    /*z-index: 1;*/
/*}*/



/*#list_table{*/
    /*width: 100%;*/
    /*display: block;*/
    /*overflow-x: scroll;*/
/*}*/
/*#date_input{*/
    /*width: 155px;*/
    /*margin-left: 35%;*/
    /*margin-top: 1%;*/
/*}*/
/*#main_menu{*/
    /*text-align: center;*/
/*}*/

/*#add_to_list_but{*/
    /*margin-top: 30px;*/
    /*position: absolute;*/
    /*background-color: #99db6a;*/
    /*color: white;*/
    /*left: 20px*/
/*}*/
/*#add_to_list_but:hover, #add_client_to_list_but:hover {*/
    /*background-color: #a2e474;*/
/*}*/
/*#add_client_to_list_but {*/
    /*position: absolute;*/
    /*margin-top: 3%;*/
    /*left: 3%;*/
    /*background-color: #99db6a;*/
    /*color: white;*/
/*}*/

/*#new_list{*/
    /*display: none;*/
/*}*/
/*#functional_field{*/
    /*background-color: aquamarine;*/
    /*padding-top: 3%;*/
    /*padding-bottom: 3%;*/
    /*margin-top: 3%;*/
/*}*/
/*#raw1 .type_field1, #raw2 .type_field1, #raw3 .type_field1{*/
    /*width: 15%;*/
/*}*/
/*#raw1 select*/
/*{*/
    /*margin-left: 5px;*/
/*}*/
/*#date_l,#section_list_sel*/
/*{*/
    /*width:17%;*/
/*}*/
/*#sel_time_text*/
/*{*/
    /*margin-left: -2%;*/
/*}*/
/*.type_select,#sel_master*/
/*{*/
    /*width: 150px;*/
/*}*/

/*#price_text,#duration_text,#tel_text,#name_input,#discount_text{*/
    /*width: 15%;*/
/*}*/
/*#price_text,#tel_text,#name_input,#total_text{*/
    /*width: 15%;*/
    /*margin-left: 8%;*/
/*}*/
/*#duration_text,#name_input,#discount_text{*/
    /*margin-left: 9%;*/
    /*width: 15%;*/
/*}*/
/*#name_text{*/
    /*margin-left: 8.5%;*/
    /*width: 15%;*/
/*}*/
/*#additionaly_input{*/
    /*width: 8%;*/
    /*margin-left: 5%;*/
/*}*/
/*#additionaly_text, #note_text{*/
    /*margin-left: 8%;*/
    /*width: 18%;*/
/*}*/
/*#note_txtarea{*/
    /*margin-left: 5%;*/
    /*width: 60%;*/
    /*height: 100px;*/
    /*text-align: left;*/
/*}*/
/*.row input, .row select{*/
    /*margin-top: 5px;*/
    /*font-size: 1.5rem;*/
    /*padding-right: 1%;*/
    /*text-align: center;*/
/*}*/
/*.row textarea{*/
    /*margin-top: 5px;*/
    /*font-size: 1.5rem;*/
    /*padding-right: 1%;*/
    /*text-align: center;*/
/*}*/
/*#raw1 #date_l_text, #raw1 #date_l,#raw3 select,#raw1 #sel_time_text,#raw2 input,#section_list_sel, #raw3 input,#price_input{*/
    /*margin-left: 8%;*/
/*}*/
/*#price_input{*/
    /*width: 8%;*/
/*}*/
/*#tel_input{*/
    /*margin-left: 8%;*/
/*}*/
/*#tel_input,#section_list_sel,#raw3 select*/
/*{*/
    /*width: 17%;*/
/*}*/
/*#currency_text,#duration_input,#currency_text2,#discount_input{*/
    /*width: 8%;*/
/*}*/
/*#currency_text,#duration_input,#sel_master,#currency_text2,#discount_input{*/
    /*margin-left: 5px;*/
/*}*/
/*#sel_time{*/
    /*margin-left: -5px;*/
/*}*/
/*#name_input{*/
    /*width: 18.8%;*/
    /*margin-left: 5px;*/
/*}*/
/*#min_text, #raw6 select,#total_input,#currency_text3{*/
    /*width: 10%;*/
    /*margin-left: 5px;*/
/*}*/

/*#save_list, #cancel_list, #edit_list {*/
    /*position: absolute;*/
    /*top: 105%;*/
    /*left: 2%;*/
/*}*/
/*#save_client {*/
    /*margin-left: 6%;*/
    /*background-color: #99db6a;*/
    /*color: white;*/
/*}*/
/*#edit_client {*/
    /*position:relative;*/
    /*left: 6%;*/
    /*background-color: #99db6a;*/
    /*color: white;*/
/*}*/
/*#save_client:hover, #edit_client:hover {*/
    /*background-color: #a2e474;*/
/*}*/
/*#save_section {*/
    /*margin-left: 13%;*/
    /*background-color: #99db6a;*/
    /*color: white;*/
    /*position: relative;*/
/*}*/
/*#save_section:hover {*/
    /*background-color: #a2e474;*/
/*}*/
/*#cancel_section {*/
    /*background-color: #ffb854;*/
    /*color: white;*/
    /*float: right;*/
    /*margin-right: 13%;*/
    /*position: relative;*/
/*}*/
/*#cancel_section:hover {*/
    /*background-color: #ffc15d;*/
/*}*/
/*#cancel_list {*/
    /*background-color: #ffb854;*/
    /*color: white;*/
    /*left:  65.3%;*/
/*}*/
/*#cancel_list:hover, #cancel_serv:hover, #cancel_post:hover, #cancel_client:hover {*/
    /*background-color: #ffc15d;*/
/*}*/
/*#cancel_serv, #cancel_post, #cancel_client {*/
    /*background-color: #ffb854;*/
    /*color: white;*/
/*}*/

/*#add_new_worker{*/
    /*position:relative;*/
    /*left: 3%;*/
    /*background-color: #99db6a;*/
    /*color: white;*/
/*}*/
/*#edit_worker {*/
    /*position:absolute;*/
    /*left: 3%;*/
    /*top: 71.5%;*/
    /*background-color: #99db6a;*/
    /*color: white;*/
/*}*/
/*#add_new_worker:hover, #edit_worker:hover {*/
    /*background-color: #a2e474;*/
/*}*/
/*#cancel_new_worker {*/
    /*position:relative;*/
    /*float: right;*/
    /*right: 8%;*/
    /*background-color: #ffb854;*/
    /*color: white;*/
    /*margin-left: 60%;*/
/*}*/
/*#cancel_new_worker:hover {*/
    /*background-color: #ffc15d;*/
/*}*/
/*#save_list, #edit_list, #save_serv, #editing_service, #save_post  {*/
    /*background-color: #99db6a;*/
    /*color: white;*/
/*}*/
/*#save_list:hover, #edit_list:hover, #add_to_service_but:hover, #save_serv:hover, #editing_service:hover, #add_pers_but:hover, #save_post:hover {*/
    /*background-color: #a2e474;*/
/*}*/
/*#add_to_service_but {*/
    /*background-color: #99db6a;*/
    /*color: white;*/
    /*float: left;*/
    /*margin-top: 2%;*/
/*}*/
/*#add_pers_but {*/
    /*background-color: #99db6a;*/
    /*color: white;*/
    /*position: absolute;*/
    /*float: left;*/
    /*margin-top: 2%;*/
    /*left: 2%;*/
/*}*/

/*#select_section,#select_section2{*/
    /*width:18%;*/
    /*position: absolute;*/
    /*left: 11%;*/
    /*z-index: 10;*/
/*}*/
/*#select_post{*/
    /*width:18%;*/
/*}*/
/*#service label{*/
    /*position: absolute;*/
    /*left: 2%;*/
    /*margin-top: 10px;*/
/*}*/
/*#personals_div label{*/
    /*margin-top: 1%;*/
/*}*/
/*#new_post {*/
    /*background-color: #ffb854;*/
    /*color: white;*/
    /*font-size: medium;*/

/*}*/
/*#del_post {*/
    /*background-color: aqua;*/
    /*color: white;*/
    /*font-size: medium;*/

/*}*/
/*#new_section {*/
    /*background-color: #ffb854;*/
    /*color: white;*/
    /*position: absolute;*/
    /*font-size: medium;*/
    /*left: 30%;*/
    /*z-index: 10;*/
/*}*/
/*#new_section:hover, #new_post:hover {*/
    /*background-color: #ffc15d;*/
/*}*/
/*#del_section {*/
    /*background-color: aqua;*/
    /*color: white;*/
    /*position: absolute;*/
    /*font-size: medium;*/
    /*left: 60%;*/
    /*z-index: 10;*/
/*}*/
/*#sevice_table_div, #post_table_div, #client_table_div{*/
    /*height: 300px;*/
    /*overflow-y: scroll;*/
    /*margin-top: 15px;*/
/*}*/
/*#sevice_table_div {*/
    /*margin-top: 55px;*/
/*}*/
/*#post_table_div {*/
    /*margin-left: 15px;*/
    /*margin-right: 15px;*/
/*}*/

/*#new_service{*/
    /*position: absolute;*/
    /*background-color: #333333;*/
    /*!*border: 1px solid black;*!*/
    /*margin-top: 2%;*/
    /*width: 40%;*/
    /*display: none;*/
    /*padding-bottom: 3%;*/
    /*color: white;*/
    /*left: 25%;*/
    /*top: -10%;*/
    /*z-index: 10;*/
/*}*/
/*#new_service_header_div,#new_worker_header_div,#new_client_header_div{*/
    /*height: 80px;*/
    /*width: 100%;*/
    /*font-size: 22px;*/
    /*color: white;*/
    /*font-weight: bolder;*/
    /*background: #024a54;*/
    /*background: -webkit-linear-gradient(#024a54, #5dd4e9);*/
    /*background: -o-linear-gradient(#024a54, #5dd4e9);*/
    /*background: -moz-linear-gradient(#024a54, #5dd4e9);*/
    /*background: linear-gradient(#024a54, #5dd4e9);*/
/*}*/
/*.new_service_label*/
/*{*/
    /*float: left;*/
    /*left: 3%;*/
/*}*/
/*.new_service_fields*/
/*{*/
    /*width: 45%;*/
    /*float: left;*/
    /*left: 20%;*/
/*}*/

/*#cancel_client{*/
    /*margin-left: 35%;*/
/*}*/
/*#new_client .new_client_only_input{*/
    /*width: 50%;*/
    /*left: 24%;*/
/*}*/
/*#client_description*/
/*{*/
    /*left: 6%;*/
    /*width: 85%;*/
    /*height: 80px;*/
/*}*/
/*.new_client_label{*/
    /*left: 3%;*/
    /*position: relative;*/
    /*float: left;*/
/*}*/
/*#new_client_btns{*/
    /*position: relative;*/
/*}*/
/*#new_service_header_div p{*/
    /*margin-top: 8%;*/
/*}*/
/*#new_service_div2 label, #new_service_div2 select, #new_service_div2 input {*/
    /*position: relative;*/
/*}*/
/*#new_service_btns input{*/
    /*margin-left: 7%;*/
    /*margin-top: 5%;*/
    /*font-size: 12px;*/
/*}*/
/*#new_personals_div{*/
    /*position: absolute;*/
    /*top:0.1%;*/
    /*left: 30%;*/
    /*width: 300px;*/
    /*background-color: #333333;*/
    /*color: white;*/
    /*padding-bottom: 2%;*/
    /*z-index: 10;*/
/*}*/
/*#section_input{*/
    /*width: 80%;*/
    /*margin-left: 10%;*/
/*}*/
/*#add_new_section_btns input*/
/*{*/
    /*margin-top: 5%;*/
/*}*/


/*#add_new_section_div{*/
    /*position: absolute;*/
    /*text-align: center;*/
    /*top: 20%;*/
    /*left: 30%;*/
    /*width: 300px;*/
    /*height: 165px;*/
    /*background-color: #333333;*/
    /*color: white;*/
    /*padding-bottom: 2%;*/
    /*z-index: 15;*/
/*}*/
/*#new_post_btns input{*/
    /*margin-left: 50px;*/
    /*font-size: small;*/
/*}*/
/*#new_post_personal_input{*/
    /*width:80%;*/
    /*margin-left: 8%;*/
/*}*/
/*#seach_field_tel{*/
    /*width: 30%;*/
/*}*/
/*#search_but img{*/
    /*width: 30px;*/
    /*height: 30px;*/
    /*margin-top: 8px;*/
    /*left: 0px;*/
    /*border: 1px solid black;*/
    /*padding: 4px;*/
    /*border-radius: 2px;*/
/*}*/
/*#menu_tabs a{*/
    /*color: white;*/
    /*font-size: medium;*/
/*}*/
/*#search_but img:hover{*/
    /*cursor: pointer;*/
/*}*/
/*.table_menu:hover{*/
    /*backgound-color: blue;*/
    /*cursor: pointer;*/
/*}*/

/*#select_sex{*/
    /*width:15%;*/
    /*font-size: small;*/
/*}*/


/*#new_worker, #new_client{*/
    /*border: 1px solid #333333;*/
    /*position: absolute;*/
    /*width: 45%;*/
    /*z-index: 10;*/
    /*background-color: #333333;*/
    /*color: white;*/
    /*left: 15%;*/
    /*top:5%*/
/*}*/
/*#list_table table tbody tr td p {*/
    /*font-family: fontawesome;*/
    /*font-size: 12px;*/
    /*margin-bottom: 2px;*/
/*}*/
/*.new_worker_input{*/
    /*width: 42%;*/
    /*position: relative;*/
    /*left: 35%;*/
/*}*/
/*#new_worker .row label{*/
    /*position: relative;*/
    /*left: 25%;*/
/*}*/
/*#new_worker .row{*/
    /*position: relative;*/
/*}*/
/*.master_divs{*/
    /*background-color: white;*/
    /*height: 100px;*/
    /*width:40%;*/
/*}*/
/*.new_worker_btn{*/
    /*float: left;*/
    /*font-size: medium;*/
    /*margin-top: 3%;*/
    /*margin-left: 3%;*/
/*}*/


/*#master1{*/
    /*position: absolute;*/
    /*top: 40%;*/
    /*left: 48%;*/
/*}*/
/*#master2{*/
    /*position: absolute;*/
    /*left: 48%;*/
/*}*/
/*#contextMenuId li{*/
    /*list-style: none;*/
/*}*/

/*#contextMenuId li span{*/
    /*display: block;*/
    /*color:#333;*/
    /*padding: 2px;*/
/*}#contextForDel li{*/
     /*list-style: none;*/
 /*}*/

/*#contextForDel li span{*/
    /*display: block;*/
    /*color:#333;*/
    /*padding: 2px;*/
/*}*/
/*.table_menu:hover {*/
    /*background-color: lightgrey;*/
/*}*/



/*#close_client_simb,#close_worker_simb,#close_serv_simb,#close_new_post_simb,#close_new_section_simb*/
/*{*/
    /*float:right;*/
    /*margin-right:1%*/
/*}*/
/*#close_client_simb:hover,#close_worker_simb:hover,#close_serv_simb:hover,#close_new_post_simb:hover,#close_new_section_simb:hover*/
/*{*/
    /*cursor: pointer;*/
/*}*/
/*.fields_for_read_only[readonly]*/
/*{*/
    /*background-color: #0addff;*/
/*}*/
/*#functional_field{*/
    /*background-color: #a0fcff;*/
    /*padding-top: 3%;*/
    /*padding-bottom: 3%;*/
    /*margin-top: 3%;*/
/*}*/
/*#cancel_serv*/
/*{*/
    /*float:right;*/
    /*margin-right: 6%;*/
/*}*/

/*textarea{*/
    /*resize: none; !* Запрещаем изменять размер *!*/
/*}*/
/*.butterfly_img*/
/*{*/
    /*height: 6%;*/
    /*width: 8%;*/
/*}*/